{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1 class="display-4 mt-2">{{ 'contribute'|trans }}</h1>
                    <p class="lead">{{ 'contribute_sub'|trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-lighter py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center">
                            <h2 class="my-0 h4 fw-normal">{{ 'login'|trans }}</h2>
                        </div>
                        <div class="card-body">
                            {{ include('security/_login_form.html.twig') }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <p class="lead">
                        Noch nicht dabei? Dann jetzt <a href="{{ path('app_register') }}">{{ 'register'|trans }}</a>!
                    </p>
                    <p>
                        Als registrierter Nutzer profitierst du von vielen Vorteilen.
                    </p>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-start align-items-center mb-2">
                            <img src="{{ asset('build/images/icons/icons8_love_circled_32px.png') }}" class="me-2" alt="like">
                            Liken und kommentieren
                        </li>
                        <li class="d-flex justify-content-start align-items-center mb-2">
                            <img src="{{ asset('build/images/icons/icons8_event_32px.png') }}" class="me-2" alt="like">
                            Buchungsübersicht
                        </li>
                        <li class="d-flex justify-content-start align-items-center mb-2">
                            <img src="{{ asset('build/images/icons/icons8_day_view_32px.png') }}" class="me-2" alt="like">
                            Auftragsverwaltung
                        </li>
                        <li class="d-flex justify-content-start align-items-center mb-2">
                            <img src="{{ asset('build/images/icons/icons8_notification_32px.png') }}" class="me-2" alt="like">
                            Aktuelle Neuigkeiten
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
