<div class="row row-cols-1 row-cols-lg-3 g-2">
    {% for item in samples %}
        <div class="col">
            <div class="card bg-white shadow-hover">
                <a href="{{ path('portfolio_show',{'uuid':item.uuid}) }}">
                    <img  class="img-fluid rounded-top" src="{{ vich_uploader_asset(item)|imagine_filter('sample_image') }}" alt="{{ item.title }}" style="min-height: 357px">
                </a>
                <div class="card-body card-overlay">
                    <p class="card-text small badge bg-dark mb-0">
                        {{ item.tags.name|default('nicht getagged') }}
                    </p>
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <p class="card-text fw-bolder text-truncate mb-0">{{ item.title }}</p>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <span class="small me-1 like-number-{{ item.id }}">{{ item.sampleLikes.count }}</span>
                            <div class="spinner-border spinner-border-sm d-none like-loader-{{ item.id }}" role="status">
                            </div>
                            {% set like_icon = 'bi-heart' %}
                            {% for user_item in samples_liked_by_user %}
                            {% if item.id == user_item.id %}
                                {% set like_icon = 'bi-heart-fill' %}
                            {% endif %}
                            {% endfor %}
                            {% if app.user %}
                                <a href="{{ path('api_add_like') }}" class="like-button link-heart me-2" data-value="{{ item.id }}"><i class="like-icon-{{ item.id }} bi {{ like_icon }}"></i></a>
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="link-dark me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="einloggen zum liken">
                                        <i class="like-icon-{{ item.id }} bi {{ like_icon }}"></i>
                                    </a>

                            {% endif %}
                            <a href="{{ path('portfolio_show',{'uuid':item.uuid}) }}" class="link-dark"><i class="bi bi-chat-square"></i></a>
                        </div>
                    </div>
                    <p class="card-text text-truncate small mb-0">{{ item.description }}</p>
                    {% if item.sampleComments.count > 0 %}
                        <a href="{{ path('portfolio_show',{'uuid':item.uuid}) }}" class="small link-secondary">Alle {{ item.sampleComments.count }} Kommentare ansehen</a>
                        {% else %}
                        <psan class="small text-secondary">noch keine Kommentare</psan>
                    {% endif %}
                </div>
                <div class="card-footer px-2">
                    {% if app.user %}
                        <form method="post" action="{{ path('portfolio_comment_add') }}" class="needs-validation" novalidate>
                            <input type="hidden" name="sample_image_id" value="{{ item.id }}">
                            <label for="comment_input_{{ item.id }}" class="d-none">Kommentar</label>
                            <div class="input-group input-group-sm">
                                <input id="comment_input_{{ item.id }}" class="form-control form-control-sm bg-light input-comment" name="comment_{{ item.id }}" placeholder="kommentieren" required="required">
                                <button type="submit" id="submit_comment_{{ item.id }}" class="btn btn-sm btn-primary disabled"><i class="bi bi-send"></i></button>
                            </div>
                        </form>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="d-block btn btn-sm btn-light">Einloggen zum kommentieren</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if samples|length == 0 %}
        <div class="col-12">
            <p class="">Noch keine Elemente vorhanden.</p>
        </div>
    {% endif %}
</div>