<div class="card-body">
    <h2 class="h4 fw-normal pb-2">Neue Bewerbung anlegen</h2>
    <p class="lead">
        Hallo {{ app.user.privatName.firstname }}!
    </p>
    <div class="alert alert-light shadow-sm border">
        Vielen Dank für dein Interesse als Model. Lade im ersten Schritt mindestens ein aussagekräftiges Bild von dir hoch.
        <a href="#">Tipps & Hinweise</a> findest du auch hier.
    </div>
    {{ form_start(form,{'attr':{'id':'application_image_only'}}) }}
    <ul class="images list-group list-group-flush" data-index="{{ form.images|length > 0 ? form.images|last.vars.id + 1 : 0 }}" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        {% for item in form.images %}
            <li class="list-group-item">{{ form_row(item.id) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link btn btn-light text-dark w-100 " data-collection-holder-class="images">Bild hinzufügen</button>
    {{ form_end(form) }}
    <p>
        Im nächsten Schritt kannst du weitere Angaben zu deiner Motivation machen. Erst, nachdem du alle Angaben abschließend
        überprüft hast, wird die Bewerbung abgesendet.
    </p>
</div>