<div class="card-body">
    <h2 class="h4 fw-normal pb-2">Neue Bewerbung anlegen</h2>
    <div class="position-relative m-4 pb-3">
        <div class="progress" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-light text-muted rounded-pill" style="width: 2rem; height:2rem;">2</button>
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-light text-muted rounded-pill" style="width: 2rem; height:2rem;">3</button>
    </div>
    <p class="lead">
        Hallo {{ app.user.privatName.firstname }}!
    </p>
    <div class="alert alert-light shadow-sm border">
        Vielen Dank für dein Interesse als Model. Lade im ersten Schritt mindestens ein aussagekräftiges Bild von dir hoch.
        <a href="#">Tipps & Hinweise</a> findest du auch hier.
    </div>
    {{ form_start(form,{'attr':{'id':'application_image_only'}}) }}
    <ul class="images list-group list-group-flush" data-index="{{ form.images|length > 0 ? form.images|last.vars.id + 1 : 0 }}" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        {% for item in form.images %}
            <li class="list-group-item">{{ form_row(item.id) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link btn btn-light text-dark w-100 btn-sm" data-collection-holder-class="images">Bild hinzufügen</button>
    {{ form_end(form) }}
    <p>
        Im nächsten Schritt kannst du weitere Angaben zu deiner Motivation machen. Erst, nachdem du alle Angaben abschließend
        überprüft hast, wird die Bewerbung abgesendet.
    </p>
</div>
<div class="card-footer bg-white p-2">
    <div class="d-flex justify-content-end align-items-center">
        <button type="submit" form="application_image_only" class="btn btn-lg w-100 btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>