{% extends 'base.html.twig' %}


{% block body %}
    <section class="sticky-top">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="card border-top-0 rounded-0 rounded-bottom mb-3">
                        <div class="card-body d-flex justify-content-between align-items-center py-2 px-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <h1 class="lead mb-0 text-truncate d-none d-sm-inline">{{ 'application'|trans }}</h1>
                            </div>
                            <div class="btn-group btn-group-sm">
                                    <a href="{{ path('application_new') }}" class="btn btn-sm btn-primary d-flex justify-content-start align-items-center"><i class="bi bi-plus me-1"></i>Neue Bewerbung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-lighter py-5 shadow-hover-section">
        <div class="container" id="sample_items">
            <div class="card shadow">
                {% if app.user %}
                    <div class="card-body">
                        <h2 class="h4 fw-normal mb-0">offene Bewerbungen</h2>
                    </div>
                        {% if app.user.applications|length > 0 %}
                            <div class="list-group list-group-flush">
                                {% for application in app.user.applications %}
                                    <a href="{{ path('application_show',{'id':application.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-column justify-content-start align-items-start">
                                            <span class="me-2">Bewerbung vom {{ application.created|date('d.m.Y') }}</span>
                                            <span class="small text-muted">{{ application.updated|ago }} aktualisiert</span>
                                        </div>
                                        <div>
                                            {% if application.isComplete %}
                                                <div class="badge bg-success text-light">abgesendet</div>
                                                {% else %}
                                                    <div class="badge bg-danger text-light">noch nicht vollständig</div>
                                            {% endif %}

                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                            {% else %}
                                <div class="card-body">
                                    <div class="alert alert-light border d-flex flex-column justify-content-center align-items-center" style="height: 200px">
                                        <span>noch keine Bewerbung vorhanden.</span>
                                        <a href="{{ path('application_new') }}" class="link-primary">neue Bewerbung anlegen</a>
                                    </div>
                                </div>
                        {% endif %}
                {% else %}
                    <div class="card-body">
                        Nix
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
    <section class="py-5">
        <div class="container">

        </div>
    </section>
{% endblock %}
