{% if app.session.flashbag.peekAll|length > 0 %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <section class="bg-{{ type ? type : '' }} py-2">
                <div class="container text-light">
                <span>{{ message|trans({}, domain|default('messages')) }}</span>
                </div>
            </section>
        {% endfor %}
    {% endfor %}
{% endif %}
<nav class="py-1 bg-dark border-bottom inset">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto d-inline d-lg-none">
            <li><a class="nav-link link-light px-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <svg class="bi me-2 text-white" width="20" height="20" fill="currentColor">
                        <use xlink:href="#list"></use>
                    </svg>
                </a></li>
        </ul>
        {{ knp_menu_render('main',{'depth': 1,'allow_safe_labels': true}) | raw }}
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav">
                <li class="nav-item"><a href="{{ path('sonata_admin_dashboard') }}" class="nav-link link-light px-2"><i class="bi bi-gear"></i></a></li>
            </ul>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person me-1"></i>{{ app.user.companyName|default(app.user.privatName) }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ path('profile_index') }}">
                                <i class="bi bi-images me-2"></i>
                                {% trans %}orders{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('profile_index') }}">
                                <i class="bi bi-gear me-2"></i>
                                {% trans %}settings{% endtrans %}
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right me-2"></i>
                                {% trans %}logout{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
                {{ knp_menu_render('login',{'depth': 1}) }}
        {% endif %}
    </div>
</nav>
<header class="py-3 border-bottom">
    <div class="container d-flex justify-content-center">
        <a href="/" class="d-flex align-items-center  me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2 text-white" width="40" height="32" fill="currentColor">
                <use xlink:href="#wp-logo-3"></use>
            </svg>
            <span class="fs-5">Wagner Pictures</span>
        </a>
        <div class="col-12 col-lg-auto d-none d-lg-block">

        </div>
    </div>
</header>
