<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>{% block title %}{{ website.title|default('n/a') }}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e5005b">
        <meta name="msapplication-TileColor" content="#e50045">
        <meta name="theme-color" content="#e5004e">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {{ include('icons.html.twig') }}

            {% block header %}
                {{ include('navigation/_global_menu.html.twig') }}
            {% endblock %}

        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% block footer %}
                {{ include('navigation/_footer_menu.html.twig') }}
            {% endblock %}
        </footer>
        {{ include('navigation/_offcanvas.html.twig') }}
    </body>
</html>
